<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level [%logger{0}:%line] - %msg %n</pattern>
        </encoder>
    </appender>
    
    <logger name="kr.co.kfs.dmas" level="DEBUG"/>
    
      <logger name="jdbc" level="OFF"/>

	  <!-- SQL 로그인쇄 -->	
	  <logger name="jdbc.sqlonly" level="OFF"/>	
	  <logger name="jdbc.sqltiming" level="DEBUG"/>
	  <logger name="jdbc.audit" level="OFF"/>
	  <logger name="jdbc.resultset" level="OFF"/>
	  <logger name="jdbc.resultsettable" level="DEBUG"/>
	  <logger name="jdbc.connection" level="OFF"/>
    
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root> 
</configuration>